

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}


.row-header{
    margin:0px auto;
    padding:0px;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.footer{
    background-color: #dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

body{

    padding:50px 0px 0px 0px;
    z-index:0;

    
}
.bg-light {
    background-color: #dbb08d !important;
}

.table .thead-dark th{
    color:floralwhite;
    background-color:#6E3F19
}
tr:hover {background-color:#dbb08db0!important}


.carousel {
    background-color:#914d15b0!important
    }


.carousel-item {
  height: 300px;
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.cancel {
    border-color:#DFDFDF;
    background-color:#DFDFDF;
    color: rgb(0, 0, 0);
}

.cancel:hover {
    background: slategray;
    color: white;
  }
  
  #carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}

.prev-next
{
    
position: relative;
bottom: 150px;
}



    


.carousel-head
{
    position: relative;
    left: 150px;
    bottom:120px
}

.carousel-para
{
    position: relative;
    font-size: 1.4vw;
left: 150px;
bottom: 10px;
}
  
.recipes
{
    background: #995a27e0;
    padding: 20px;
    color: white!important
}

#indi
{
    position: absolute;
    left: 290px;
    bottom: 0px;
}

